@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --primary-font: 'Montserrat', sans-serif;
  --secondary-font: 'Inter', sans-serif;
  --primary-color: #0958ac;
  --gray: #6c757d;

  --scape-box-height: 20rem;
}

body {
  height: 100vh;
}

h2 {
  font-family: var(--primary-font);
  color: #000;
}

.contacts-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;

  padding: 1rem 2rem;
  width: 100%;

  font-size: 1.2rem;
  font-family: var(--secondary-font);

  color: #fff;
  background-color: var(--primary-color);
}

span {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.custom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 2.4rem 4rem;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.custom-header a {
  font-family: var(--primary-font);
  font-size: 2.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-color);
  margin-left: 1rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: transparent;
  color: var(--primary-color);
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: .5rem 1rem;
  width: 100%;
}

.menu-header img {
  width: 10rem;
  height: 5rem;
  object-fit: contain;
}

.menu-header button {
  background: none;
  border: none;
  color: var(--primary-color);
  font-size: 2.4rem;
  cursor: pointer;
}

/* Links no desktop */
.menu-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.menu-links a {
  color: #000;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.6rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;

  /* Estado inicial */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* Overlay visível */
.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.menu-links a:hover {
  color: var(--primary-color);
}

/* Botão hambúrguer no mobile */
.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--primary-color);
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  /* Menu escondido por padrão */
  .menu-links {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    flex-direction: column;
    width: 200px;
    min-height: 100%;
    display: none;
    padding: 1rem;

    border-left: 1px solid #dee2e6;

    /* Estado inicial escondido */
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;

    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  /* Mostrar menu quando ativo */
  .menu-links.open {
    display: flex;
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }
}

.dynamic-hero {
  width: 100%;
  height: 50rem;

  position: relative;
}

.dynamic-hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(.3rem);
}

.dynamic-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dynamic-hero .text-wrapper {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  width: 50%;
  color: white;

  font-family: var(--secondary-font);
}

.text-wrapper h2 {
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 5rem;
  color: #fff;
}

.text-wrapper p {
  font-size: 2.4rem;
  line-height: 3rem;
  margin: 2.2rem 0;
}

.get-order-button {
  background-color: var(--primary-color);
  padding: 1.5rem 4rem;

  color: #fff;
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 500;

  cursor: pointer;
  border-radius: .8rem;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .4s;
}

.get-order-button:hover {
  background-color: #f8f9fa;
  color: var(--primary-color);
  opacity: .8;
}

.scape-box {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: var(--scape-box-height);
  padding: 0 2rem;

  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(10.8px);
  border: 1px solid rgba(255, 255, 255, 0.64);
  border-radius: 1.6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-card {
  padding: 1.5rem;
  max-width: 33%;
}

.box-card .title {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-bottom: 1.5rem;
}

.box-card .title h2 {
  font-family: var(--primary-font);
  font-size: 2.4rem;
  color: #000;
}

.box-card p {
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  color: var(--gray);
  margin-top: .5rem;
}

.about {
  width: 80%;
  padding: 4rem 0;

  margin: calc(var(--scape-box-height) - (var(--scape-box-height) * 20) / 100) 10% 0;
}

.about h2 {
  font-family: var(--primary-font);
  font-size: 2.8rem;
  color: #000;
  margin-bottom: 1.5rem;
}

.about p {
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  color: #000;
  line-height: 2.4rem;
}

.card-wrapper {
  margin-top: 4rem;

  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.info-card {
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.8px);
  backdrop-filter: blur(10.8px);
  border: 1px solid rgba(255, 255, 255, 0.64);

  display: flex;
  flex-direction: column;
  gap: .8rem;

  padding: 1.8rem;

  width: 33%;
  border-radius: 1.6rem;
}

.info-card h3 {
  font-family: var(--primary-font);
  font-size: 2.2rem;
  color: #000;
}

.diffs {
  margin-top: 10rem;
}

.diffs-wrapper {
  margin-top: 3.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.diff {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;

  width: 25rem;
}

.diff span {
  font-weight: 600;
  font-size: 4.8rem;
  font-family: var(--secondary-font);

  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.diff p {
  text-align: center;
  font-size: 2rem;
}

.portfolio {
  width: 80%;
  margin: 0 auto;

  padding: 4rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.costumers {
  width: 80%;
  margin: 4rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;

  h2 {
    font-size: 3.2rem;
    color: #000;
  }
}

.costumers div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.costumers>div img {
  width: 20rem;
  height: 10rem;
  object-fit: contain;
}

.contact {
  width: 100%;
  margin: 7.2rem auto 0;

  background-color: #f8f9fa;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding: 2rem 3.2rem;
  border-top: 1px solid #dee2e6;
}

.contact>div {
  width: 80%;

  margin: 0 auto;
  padding: 2.4rem;
}

.contact .text-wrapper {
  margin-top: 3.2rem;
}

.contact .text-wrapper p {
  margin: 1rem 0;
}

.contact h2 {
  font-family: var(--primary-font);
  font-size: 3.2rem;
  color: #000;
}

.contact h3 {
  font-family: var(--primary-font);
  font-size: 2.4rem;
  color: #000;
  margin-top: 2rem;
}

.contact p {
  font-family: var(--secondary-font);
  font-size: 1.8rem;
  color: #000;
}

.contact-form {
  background-color: #fff;
  padding: 3.2rem;
  border-radius: 1rem;
  border: 1px solid #ced4da;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form label {
  font-family: var(--secondary-font);
  font-size: 1.6rem;
  color: #000;
}

.contact-form input,
.contact-form textarea {
  display: block;
  padding: 1.2rem;

  font-family: var(--secondary-font);

  border: 1px solid #ced4da;
  border-radius: .6rem;
}

.contact-form textarea {
  min-height: 10rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--primary-color);
  outline: none;
}

.contact-form button {
  max-width: 20%;

  display: block;
  border-radius: .6rem;
  border: none;
  padding: 1.2rem;
  background: var(--primary-color);
  color: #fff;

  font-weight: "bold";
}

.map-iframe {
  width: 100%;
  height: 30rem;
  border: none;
  border-radius: .6rem;
  margin-top: 2rem;
}

footer {
  width: 100%;
  height: 20rem;
  padding: 3.2rem 10%;
  background-color: #fff;

  font-family: var(--secondary-font);
  font-size: 1.6rem;
  border-top: 1px solid #dee2e6;
}

footer h3 {
  color: #000;
  font-family: var(--primary-font);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

/* Identidade da empresa */
.footer-wrapper div:nth-child(1)>img {
  width: 20rem;
  height: 10rem;
  object-fit: contain;

  margin-top: -2.5rem;
}

.footer-wrapper div:nth-child(1) p {
  margin: -2rem 0 1.2rem;
  font-size: 1.4rem;
  color: #000;
}

.footer-wrapper div:nth-child(1) .get-order-button {
  padding: 1.2rem 2rem;
  box-shadow: none;

  font-size: 1.4rem;
}

/* Informacoes de contato */
.footer-wrapper div:nth-child(2) ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: .8rem;

  margin-top: 1rem;
}

.footer-wrapper div:nth-child(2) ul li a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;

  display: flex;
  align-items: center;
  gap: .5rem;
}

.footer-wrapper div:nth-child(2) ul li a:hover {
  color: var(--primary-color);
}

.footer-wrapper div:nth-child(2) ul li a svg {
  font-size: 1.5rem;
}

/* Link rapidos */
.footer-wrapper div:nth-child(3) ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: .8rem;

  margin-top: 1rem;
}

.footer-wrapper div:nth-child(3) ul li a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;

  display: flex;
  align-items: center;
  gap: .5rem;
}

.footer-wrapper div:nth-child(3) ul li a:hover {
  color: var(--primary-color);
}

footer>p {
  padding: 3.2rem 0 2.4rem;
  font-size: 1.4rem;
  text-align: center;
}