@media screen and (width < 800px) {
    :root {
        --scape-box-height: 50rem;
    }

    .contacts-bar {
        gap: .5rem;
        font-size: 1rem;

        span {
            gap: .2rem;
        }
    }

    .custom-header {
        padding: 2rem;

        a {
            font-size: 1.8rem;
        }

    }

    .desktop-nav-bar {
        display: none;
    }

    .dynamic-hero {
        .text-wrapper  {
            width: 100%;

            text-align: center;
        }

        .text-wrapper h2 {
            font-size: 2.4rem;
            line-height: 3.5rem;
        }

        .text-wrapper p {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
    }

    .scape-box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: var(--scape-box-height);
        padding: 5rem 1rem;

        .box-card {
            max-width: 100%;
            padding: 1rem;

            .title {
                margin-bottom: 1rem;
            }
        }
    }

    .about {
        margin: calc(var(--scape-box-height) - (var(--scape-box-height) * 10) / 100) 10% 0;

        .card-wrapper {
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }

        .info-card {
            width: 100%;
        }

        .diffs-wrapper {
            flex-direction: column;
            align-items: center;
            gap: 3.2rem;
        }

    }

    .carousel-container {
        width: 280px;
        /* margin: 0 auto; */
    }

    .carousel-item-content {
        top: 60%;
    }

    .costumers {
        h2 {
            font-size: 2.4rem;
            line-height: 3.5rem;
        }

        div {
            gap: 2rem;
        }

        div img {
            width: 5rem;
            height: 5rem;
            object-fit: contain;
        }
    }

    footer {
        .footer-wrapper {
            flex-direction: column;
            gap: 3.2rem;
        }
    }
}

@media screen and (width < 950px) and (width > 800px) {
    .dynamic-hero {
        .text-wrapper {
            left: 10%;
            width: 80%;

            text-align: left;
        }

        .text-wrapper h2 {
            font-size: 2.4rem;
        }

    }
}